.hambugger_menu {
    width: 3rem;
    color: white;
    display: flex;
    align-items: center;
}

.pop_menu-1 {
    width: 8rem;
    border: .1px solid rgba(109, 109, 109, 0.523);
    position: absolute;
    left: 5rem;
    top: 3rem;
    z-index: 5;
    box-shadow: 0 0 .1rem rgba(87, 87, 87, 0.326);
    border-radius: .4rem;
    overflow-x: hidden;
    display: none;
    flex-direction: column;
}

.pop_menu-1 ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .6rem;
    background-color: var(--fg-cl);
    list-style: none;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
}

.pop_menu-1 ul li {
    display: flex;
    justify-content: space-between;
    padding: .2rem;
    padding-left: 1rem;
    border-radius: .3rem;
}
.pop_menu-1 ul li:hover {
    background: rgba(128, 128, 128, 0.274);

}

.f-pop-1 {
    left: 13.5rem;
    top: 3.5rem;
    width: 14rem;
    display: none;
}